<h2>Our lists</h2>

<div class="card-list-container">
  <% @lists.each do |list| %>
    <div class="card-list">
      <h5> <%= link_to list.name, list %> </h5>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "Create a list", new_list_path, class: "btn btn-info" %>
</div>
