<h2>Lists</h2>

<div class="container">
  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list, class: "btn btn-outline-secondary my-2" %></li>
    <% end %>
  </ul>
</div>

<div>
  <%= link_to "Create a list", new_list_path, class: "btn btn-info" %>
</div>
