<ul class="navbar-lvp">
  <a href="/"><i class="fa-solid fa-house"></i></a>
  <div class="navbar-text">
    <li><%= link_to "home", root_path %></li>
    <li><%= link_to "add your list", new_list_path %></li>
  </div>
</ul>
